.saleCard {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.table {
  width: 85%;
}

.table > thead > tr > th {
  font-size: x-large;
}

.table > tbody > tr > td {
  font-size: large;
}

 tr:nth-child(odd) {
    background-color: var(--background); 
}


tr:nth-child(even) {
    background-color: var(--lightBackground); 
}


.btn {
  width: 60px;
  font-size: medium;
}
