.saleCard {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.table {
  width: 85%;
}

.table > thead > tr > th {
  font-size: x-large;
}

.table > tbody > tr > td {
  font-size: large;
}

.btn {
  width: 60px;
  font-size: medium;
}



