.saleInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.inputForm {
  /* width: 400px; */
  width: 100%;
  padding: 25px;
  background-image: linear-gradient(to bottom, var(--form), var(--form2));
  /* background-color: var(--form); */
  color: var(--text);
  border-radius: 15px;
}

.inputForm > div > button {
  font-size: medium;
  width: 200px;
}

.inputForm > label {
  font-size: large;
  font-weight: 600;
}

.inputForm > label > input {
  height: 40px;
  font-size: large;
  border-radius: 10px;
}

.inputForm > label > input:focus {
  outline: none;
  border-color: white;
}

.inputForm > input {
  line-height: 5px;
  width: 40%;
  height: 40px;
  margin: auto;
  border-radius: 10px;
}

.error {
  color: darkred;
  font-size: medium;
  text-align: center;
  margin-top: 8px;
}

.hideInput {
  display: none;
}

.addSaleButton{
  font-size: large;
}


@media screen and (max-width: 500px) {
  .saleInput {
    width: 100%;
  }

  .hideInput {
    display: inline;
  }
}
