.saleInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.inputForm {
    width: 40%;
    padding: 25px;
    background-color: burlywood;
    color: var(--background);
}

.inputForm>div>button {
    font-size: medium;
    width: 200px;
}

.inputForm>label{
    font-size: large;
    font-weight: 600;
}

.inputForm>label>input{
    height: 40px;
    font-size: large;
    border-radius: 10px;
}

.inputForm>input{
    border: 2px solid black;
    line-height: 5px;
}


@media screen and (max-width: 600px) {
    .inputForm {
        width: 95%;
    }
}