.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48%;
}

.searchContainer > button {
  margin-top: 4px;
  font-size: large;
  line-height: 5px;
}

.searchForm > div > button {
  font-size: medium;
  width: 200px;
}

.searchForm {
  /* width: 400px; */
  width: 100%;
  padding: 25px;
  background-image: linear-gradient(to bottom, var(--form), var(--form2));
  color: var(--text);
  border-radius: 15px;
}

.searchForm > label {
  font-size: large;
  font-weight: 600;
}

.searchForm > label > input {
  height: 40px;
  font-size: large;
  border-radius: 10px;
}

.searchForm > label > input:focus {
  outline: none;
  border-color: white;
}

.searchForm > input {
  line-height: 5px;
  width: 50%;
  height: 40px;
  margin: auto;
}

.hideButton {
  display: none;
}

@media screen and (max-width: 500px) {
  .searchContainer {
    width: 100%;
  }

  .hideButton {
    display: inline;
  }
}
