.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
}

.searchContainer>button {
    margin-top: 4px;
    font-size: large;
    line-height: 5px;
}

.searchForm>div>button {
    font-size: medium;
    width: 200px;
}

.searchForm {
    /* width: 400px; */
    width: 100%;
    padding: 25px;
    background-color: var(--form);
    color: var(--form2);
    border-radius: 15px;
    border: 3px solid var(--form2);
}

.searchForm>label{
    font-size: large;
    font-weight: 600;
}

.searchForm>label>input{
    height: 40px;
    font-size: large;
    border-radius: 10px;
}

.searchForm>input{
    border: 2px solid black;
    line-height: 5px;
}

.hideButton {
    display: none;
}


@media screen and (max-width: 500px) {
    .searchContainer {
        width: 100%;
    }

      .hideButton {
        display: inline;

    }
}



