.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.searchForm {
    width: 40%;
    padding: 25px;
    background-color: antiquewhite;
    color: var(--background);
}