.saleListMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.setListMain>button{
    margin-top: 4px;
    font-size: large;
    line-height: 5px;
    width: 300px;
}