.saleListMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .setListMain>button{
    margin-top: 4px;
    font-size: large;
    line-height: 5px;
    width: 300px;
} */

.formContainer > button {
  margin-top: 4px;
  font-size: large;
  line-height: 5px;
  width: 250px;
}

.uploadRow {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 25px;
  margin-bottom: 12px;
}

.uploadRow > button {
  font-size: large;
  height: 40px;
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;
}

.totals {
  display: flex;
  justify-content: space-evenly;
  margin: 12px;
}

.totals > div {
  border: 2px solid var(--form2);
  width: 50%;
}

@media screen and (min-width: 500px) {
  .formContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

