:root {
  --background: #2c3954;
  --text: #fffcfa;
  --form: #785205;
  --form2: #bb9457;
  --lightBackground: #676B85;
  
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
